{
  "extends": "./index.js",
  "rules": {
    "prettier/prettier": ["error", {
      "trailingComma": "all",
      "singleQuote": true,
      "bracketSpacing": false,
      "parser": "babylon"
      }
    ]
  }
}
